{% extends "base.html" %}

{% block head %}
{% endblock %}

{% block content %}
    <h1> Gallery </h1>


    {% if memes_ == None %}
        <div>
            <h5> *** No memes uploaded yet *** </h5>
        </div>
        <div>
            <a href=" {{url_for('meme.upload')}} ">Upload a meme</a>
        </div>
    {% else %}
        {% for meme in memes_ %}

            <!-- Import meme here -->
            {% include 'meme/meme_card.html' %}

        {% endfor %}
    {% endif %}

{% endblock %}
