<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="A fun web app to rate your own or friends memes!">
        <meta name="keywords" content="Python, Flask, Photo, Sharing, Drinks, 42">
        <meta name="author" content="Klaus Moser">
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

        <!-- Title -->
        {% if title %}
        <title>{{ title }} - PGGB</title>
        {% else %}
        <title>PAN-GALACTIC-GARGLE-BLASTER</title>
        {% endif %}

    </head>
    <body>
        <!-- Top Navigation Bar -->
        {% if current_user.is_authenticated %}
              <div>
                <a href="{{url_for('user.logout')}}">Logout</a>
                <a href="{{url_for('main.contact')}}">Contact Us</a>
                <a href="{{url_for('meme.upload')}}">Upload</a>
                <a href="{{url_for('main.gallery')}}">Gallery</a>
              </div>
        {% endif %}

        <!-- Login & Sign Up buttons vs My Account depending on whether user is signed in -->
        {% if current_user.is_anonymous %}
            <a href="{{url_for('user.login')}}">Login</a>
            <a href="{{url_for('user.register')}}">Register</a>
        {% else %}
            <div>
                <a href="{{url_for('user.profile', username=current_user.username)}}">My Profile</a>
            </div>
        {% endif %}

        <!-- Main block -->
        {% block content %}

        {% endblock %}

        <!-- Footer with static content -->
        <footer>

        </footer>
    </body>
</html>
