{% block head %}
    <link rel="stylesheet" href="../../static/stylesheet/meme_card.css">
{% endblock %}

<!-- meme_card -->
<div class="meme-container">
    <a href=" {{url_for('meme.meme_page', selected_meme=meme.id)}} " >
        <img class="image" src="{{ meme.img_url }}" alt=""/>

    <div class="text-container">
        <div class="text">
            <p>Name: {{ meme.meme_name }}</p>
            <p>Genre: {{ meme.genre }}</p>
            <p>Upload: {{ meme.upload_date }}</p>
        </div>
    </div>
    </a>
</div>
