{% extends "base.html" %}

{% from "form-helper.html" import displayField %}

{% block title %} Upload {% endblock %}

{% block content %}
    <h1> Upload Meme </h1>

    <form action="{{ url_for('meme.upload') }}" method="POST" enctype="multipart/form-data" novalidate>

        <div>
            {% if current_user.is_authenticated %}
            {{ displayField(form.meme_name_label, 'Name', autofocus=true) }}
            {{ displayField(form.genre_label, 'Genre') }}
            {{ displayField(form.img_url, 'Meme') }}
            {% endif %}
        </div>

        <div>
            {{ form.submit_button }}
        </div>
        {{ form.csrf_token }}
    </form>
{% endblock %}
